:root{
    --a:#333;
    --a-hover:#007aff;
    --body-bg:#f1f1f1;
}
.br4{border-radius: 4px;}
.aphly_viewer{cursor: pointer}
a{color: var(--a);}
._shadow {box-shadow: 0 0 #0000,0 0 #0000,0 2px 8px 0 rgba(0, 0, 0, .16);}
.text-brand,.buleBtn{font-weight: 600;--tw-gradient-from:#1c9dfe;--tw-gradient-to:#023ff4;
    --tw-gradient-stops:var(--tw-gradient-from),var(--tw-gradient-to,rgba(28,157,254,0));
    background-image:linear-gradient(to right,var(--tw-gradient-stops));border:none;color:#fff;margin-top: 15px;}
.buleBtn{padding: 5px 25px;border-radius: 20px;cursor: pointer; }
.buleBtn.dis{color: rgb(136, 136, 136);background: rgb(215, 215, 215);}
.modal{z-index: 2250;background:rgba(239, 239, 239, 0.5);}
.modal .modal-dialog{margin-top: 10%;}
.modal .checkout4{display: flex;flex-direction: row-reverse;}
.modal .method2 li{border: 1px solid #f1f1f1;border-radius: 4px;padding: 10px 16px;margin-top: 10px;height: 44px;display: flex;font-weight:600; }
.modal .method2 li.active{border: 1px solid var(--a-hover);}
.modal .method2 li .method2a{width: 88px;height: 100%;}
.modal .method2 li .method2a img{max-width: 100%;height: 100%;}
.modal .checkout11{margin-bottom: 16px;}
.modal .confirm{font-weight: 600; margin-bottom: 10px;padding-bottom: 10px; border-bottom: 1px solid #f1f1f1;}
.modal .confirm1{font-size: 15px;}
.modal .confirm2{color: #888;}
.modal .total{font-size: 20px;}
.modal .checkout2{margin-bottom: 10px;}
.modal .checkout3{font-size: 12px;}
.form-control:focus{box-shadow:none;}
.del_style{background: #e36464;color: #fff;}

.currency_box{position: fixed;left: 30px;bottom: 30px;z-index: 1000;font-size:15px;}
.currency_box .currency_curr{position:relative;background-color:#fff;margin:0 auto;padding:10px;border-radius:5px;box-shadow:4px 4px 9px #e8e8e2,-4px -4px 9px #e8e8e2;
    display:flex;align-items:center;cursor:pointer;transition:all .5s ease-in;width:100%;height:40px}
.currency_box .baDropdown{position:absolute;bottom: 50px;margin:0;background-color: #fff; box-shadow: 0 0 16px -5px rgba(0,0,0,0.15);width:200px;border-radius: 7px;padding:0 10px;
    overflow-x: hidden;overflow-y: auto;height: 218px;display:none;}
.currency_box .baDropdown li{display:flex;border-bottom: 1px solid #f9f9f9;padding: 5px;cursor: pointer;align-items: center;}
.currency_box .baDropdown li:hover{background: #f9f9f9;border-radius: 7px;}
.currency_box .baCountry{flex-shrink: 0;width:30px;height:20px;display:inline-block;vertical-align:middle;margin-right:6px;background-size:30px!important;border-radius:4px;background-repeat:no-repeat}
.currency_box .baCountry{background-image:url('../img/ba-flags.webp')}
.baCountry-AD{background-position:0 -20px}.baCountry-AED{background-position:0 -40px}.baCountry-AFN{background-position:0 -60px}.baCountry-AG{background-position:0 -80px}.baCountry-AI{background-position:0 -100px}.baCountry-ALL{background-position:0 -120px}.baCountry-AMD{background-position:0 -140px}.baCountry-AOA{background-position:0 -160px}.baCountry-ARS{background-position:0 -180px}.baCountry-AS{background-position:0 -200px}.baCountry-AT{background-position:0 -220px}.baCountry-AUD{background-position:0 -240px}.baCountry-AWG{background-position:0 -260px}.baCountry-AZN{background-position:0 -280px}.baCountry-BAM{background-position:0 -300px}.baCountry-BBD{background-position:0 -320px}.baCountry-BDT{background-position:0 -340px}.baCountry-BE{background-position:0 -360px}.baCountry-BF{background-position:0 -380px}.baCountry-BGN{background-position:0 -400px}.baCountry-BHD{background-position:0 -420px}.baCountry-BIF{background-position:0 -440px}.baCountry-BJ{background-position:0 -460px}.baCountry-BMD{background-position:0 -480px}.baCountry-BND{background-position:0 -500px}.baCountry-BOB{background-position:0 -520px}.baCountry-BRL{background-position:0 -540px}.baCountry-BSD{background-position:0 -560px}.baCountry-BTN{background-position:0 -580px}.baCountry-BWP{background-position:0 -600px}.baCountry-BYN{background-position:0 -620px}.baCountry-BZD{background-position:0 -640px}.baCountry-CAD{background-position:0 -660px}.baCountry-CC{background-position:0 -680px}.baCountry-CDF{background-position:0 -700px}.baCountry-CG{background-position:0 -720px}.baCountry-CHF{background-position:0 -740px}.baCountry-CI{background-position:0 -760px}.baCountry-CK{background-position:0 -780px}.baCountry-CLP{background-position:0 -800px}.baCountry-CM{background-position:0 -820px}.baCountry-CNY{background-position:0 -840px}.baCountry-COP{background-position:0 -860px}.baCountry-CRC{background-position:0 -880px}.baCountry-CU{background-position:0 -900px}.baCountry-CX{background-position:0 -920px}.baCountry-CY{background-position:0 -940px}.baCountry-CZK{background-position:0 -960px}.baCountry-DE{background-position:0 -980px}.baCountry-DJF{background-position:0 -1000px}.baCountry-DKK{background-position:0 -1020px}.baCountry-DM{background-position:0 -1040px}.baCountry-DOP{background-position:0 -1060px}.baCountry-DZD{background-position:0 -1080px}.baCountry-EC{background-position:0 -1100px}.baCountry-EE{background-position:0 -1120px}.baCountry-EGP{background-position:0 -1140px}.baCountry-ER{background-position:0 -1160px}.baCountry-ES{background-position:0 -1180px}.baCountry-ETB{background-position:0 -1200px}.baCountry-EUR{background-position:0 -1220px}.baCountry-FI{background-position:0 -1240px}.baCountry-FJD{background-position:0 -1260px}.baCountry-FKP{background-position:0 -1280px}.baCountry-FO{background-position:0 -1300px}.baCountry-FR{background-position:0 -1320px}.baCountry-GA{background-position:0 -1340px}.baCountry-GBP{background-position:0 -1360px}.baCountry-GD{background-position:0 -1380px}.baCountry-GEL{background-position:0 -1400px}.baCountry-GHS{background-position:0 -1420px}.baCountry-GIP{background-position:0 -1440px}.baCountry-GL{background-position:0 -1460px}.baCountry-GMD{background-position:0 -1480px}.baCountry-GNF{background-position:0 -1500px}.baCountry-GQ{background-position:0 -1520px}.baCountry-GR{background-position:0 -1540px}.baCountry-GTQ{background-position:0 -1560px}.baCountry-GU{background-position:0 -1580px}.baCountry-GW{background-position:0 -1600px}.baCountry-HKD{background-position:0 -1620px}.baCountry-HNL{background-position:0 -1640px}.baCountry-HRK{background-position:0 -1660px}.baCountry-HTG{background-position:0 -1680px}.baCountry-HUF{background-position:0 -1700px}.baCountry-IDR{background-position:0 -1720px}.baCountry-IE{background-position:0 -1740px}.baCountry-ILS{background-position:0 -1760px}.baCountry-INR{background-position:0 -1780px}.baCountry-IO{background-position:0 -1800px}.baCountry-IQD{background-position:0 -1820px}.baCountry-IRR{background-position:0 -1840px}.baCountry-ISK{background-position:0 -1860px}.baCountry-IT{background-position:0 -1880px}.baCountry-JMD{background-position:0 -1900px}.baCountry-JOD{background-position:0 -1920px}.baCountry-JPY{background-position:0 -1940px}.baCountry-KES{background-position:0 -1960px}.baCountry-KGS{background-position:0 -1980px}.baCountry-KHR{background-position:0 -2000px}.baCountry-KI{background-position:0 -2020px}.baCountry-KMF{background-position:0 -2040px}.baCountry-KN{background-position:0 -2060px}.baCountry-KP{background-position:0 -2080px}.baCountry-KRW{background-position:0 -2100px}.baCountry-KWD{background-position:0 -2120px}.baCountry-KYD{background-position:0 -2140px}.baCountry-KZT{background-position:0 -2160px}.baCountry-LBP{background-position:0 -2180px}.baCountry-LI{background-position:0 -2200px}.baCountry-LKR{background-position:0 -2220px}.baCountry-LRD{background-position:0 -2240px}.baCountry-LSL{background-position:0 -2260px}.baCountry-LT{background-position:0 -2280px}.baCountry-LU{background-position:0 -2300px}.baCountry-LV{background-position:0 -2320px}.baCountry-LYD{background-position:0 -2340px}.baCountry-MAD{background-position:0 -2360px}.baCountry-MC{background-position:0 -2380px}.baCountry-MDL{background-position:0 -2400px}.baCountry-ME{background-position:0 -2420px}.baCountry-MGA{background-position:0 -2440px}.baCountry-MKD{background-position:0 -2460px}.baCountry-ML{background-position:0 -2480px}.baCountry-MMK{background-position:0 -2500px}.baCountry-MN{background-position:0 -2520px}.baCountry-MOP{background-position:0 -2540px}.baCountry-MQ{background-position:0 -2560px}.baCountry-MR{background-position:0 -2580px}.baCountry-MS{background-position:0 -2600px}.baCountry-MT{background-position:0 -2620px}.baCountry-MUR{background-position:0 -2640px}.baCountry-MVR{background-position:0 -2660px}.baCountry-MWK{background-position:0 -2680px}.baCountry-MXN{background-position:0 -2700px}.baCountry-MYR{background-position:0 -2720px}.baCountry-MZN{background-position:0 -2740px}.baCountry-NAD{background-position:0 -2760px}.baCountry-NE{background-position:0 -2780px}.baCountry-NF{background-position:0 -2800px}.baCountry-NG{background-position:0 -2820px}.baCountry-NIO{background-position:0 -2840px}.baCountry-NL{background-position:0 -2860px}.baCountry-NOK{background-position:0 -2880px}.baCountry-NPR{background-position:0 -2900px}.baCountry-NR{background-position:0 -2920px}.baCountry-NU{background-position:0 -2940px}.baCountry-NZD{background-position:0 -2960px}.baCountry-OMR{background-position:0 -2980px}.baCountry-PAB{background-position:0 -3000px}.baCountry-PEN{background-position:0 -3020px}.baCountry-PGK{background-position:0 -3040px}.baCountry-PHP{background-position:0 -3060px}.baCountry-PKR{background-position:0 -3080px}.baCountry-PLN{background-position:0 -3100px}.baCountry-PR{background-position:0 -3120px}.baCountry-PS{background-position:0 -3140px}.baCountry-PT{background-position:0 -3160px}.baCountry-PW{background-position:0 -3180px}.baCountry-QAR{background-position:0 -3200px}.baCountry-RON{background-position:0 -3220px}.baCountry-RSD{background-position:0 -3240px}.baCountry-RUB{background-position:0 -3260px}.baCountry-RWF{background-position:0 -3280px}.baCountry-SAR{background-position:0 -3300px}.baCountry-SBD{background-position:0 -3320px}.baCountry-SCR{background-position:0 -3340px}.baCountry-SDG{background-position:0 -3360px}.baCountry-SEK{background-position:0 -3380px}.baCountry-SGD{background-position:0 -3400px}.baCountry-SI{background-position:0 -3420px}.baCountry-SK{background-position:0 -3440px}.baCountry-SLL{background-position:0 -3460px}.baCountry-SM{background-position:0 -3480px}.baCountry-SN{background-position:0 -3500px}.baCountry-SO{background-position:0 -3520px}.baCountry-SRD{background-position:0 -3540px}.baCountry-SSP{background-position:0 -3560px}.baCountry-STD{background-position:0 -3580px}.baCountry-SV{background-position:0 -3600px}.baCountry-SYP{background-position:0 -3620px}.baCountry-SZL{background-position:0 -3640px}.baCountry-TC{background-position:0 -3660px}.baCountry-TD{background-position:0 -3680px}.baCountry-TG{background-position:0 -3700px}.baCountry-THB{background-position:0 -3720px}.baCountry-TJS{background-position:0 -3740px}.baCountry-TK{background-position:0 -3760px}.baCountry-TMT{background-position:0 -3780px}.baCountry-TND{background-position:0 -3800px}.baCountry-TOP{background-position:0 -3820px}.baCountry-TRY{background-position:0 -3840px}.baCountry-TTD{background-position:0 -3860px}.baCountry-TWD{background-position:0 -3880px}.baCountry-TZS{background-position:0 -3900px}.baCountry-UAH{background-position:0 -3920px}.baCountry-UGX{background-position:0 -3940px}.baCountry-USD{background-position:0 -3960px}.baCountry-UYU{background-position:0 -3980px}.baCountry-UZS{background-position:0 -4000px}.baCountry-VEF{background-position:0 -4020px}.baCountry-VG{background-position:0 -4040px}.baCountry-VI{background-position:0 -4060px}.baCountry-VND{background-position:0 -4080px}.baCountry-VUV{background-position:0 -4100px}.baCountry-WST{background-position:0 -4120px}.baCountry-XAF{background-position:0 -4140px}.baCountry-XPF{background-position:0 -4160px}.baCountry-YER{background-position:0 -4180px}.baCountry-ZAR{background-position:0 -4200px}.baCountry-ZM{background-position:0 -4220px}.baCountry-ZW{background-position:0 -4240px}
.currency_box .baDropdown li.active{color:var(--a-hover);}

input[type='number']::-webkit-outer-spin-button,input[type='number']::-webkit-inner-spin-button {-webkit-appearance: none !important;}
.common_btn{ border-radius: 4px;border: 1px solid #aaa;}
.old_price{text-decoration: line-through;color:#999}

/*header*/
body{font-family: 'Montserrat';}
html.no_scroll, html.no_scroll body {overflow: hidden!important;height: 100%!important;}
.header1{height: 80px;padding: 0 10px;position: fixed;left: 0;top: 0;width: 100%;background: #fff;z-index: 2000;border-bottom: 1px solid #f1f1f1;}
.header13 i{font-size: 27px;font-weight: 400;margin:0 10px;}
.header13 a{position: relative;}
.cart_num,.wishlist_num{position: absolute;right:0;top: 0;font-size: 12px;width: 16px;height: 16px;color: #fff;background: #333;text-align: center;border-radius: 50%;}
main{padding: 80px 0;min-height: 800px;}
.header10{height: 100%;}
.header101{height: 100%;}
.logo_menu{display: none}
.header12{margin-right: auto;}
.header12 .menu li .pc_menu_lv1_a{font-weight: 600;font-size: 16px;padding: 40px 20px 0;display: block;height: 100%;}
.header12 .menu li{position: relative;}
.header12 .menu{height: 100%;}
.pc_menu_lv2{display: none;position: fixed;left: 0;background: #fff;width: 100%;box-shadow:0 2px 12px 2px #eee;}
.pc_menu_lv21{padding:40px 15px 80px;display: flex;}
.pc_menu_lv2_a{color:#333;font-weight: 600;font-size: 15px;display: block;margin-bottom: 10px;}
.pc_menu_lv3 a{display: block;line-height: 30px;}
.pc_menu_lv211{padding-right: 40px;min-width: 160px;}
.search_pc{}
.search_pc1{position: relative;display: flex;align-items: center;margin-right: 20px; padding-top: 30px;}
.search_pc11{border-radius: 4px;margin-bottom: 0; border: 1px solid #ddd;line-height: 34px;height: 36px; width: 100%; padding: 0 8px;}
.search_pc12{position: absolute;right: 10px;border: none;border-radius: 4px;}
.header11 img{  height: 60px;margin-top: 14px;}
.header11_m,.header12_m{display: none;}
.header13{padding-top: 30px;}
.shop_main{margin-top: 20px;}
.icon-aixin{cursor: pointer}


@media (max-width: 1199.98px) {
    .shop_main{margin-top: 10px;}
  main{padding: 55px 0 40px;}
  .header1{height: 55px;padding: 0;}
  .header1 i{font-size: 20px;}
  .header13 i{margin:0 5px;}
  .logo_menu{display: block;padding: 0 10px;}
  .header12,.search_pc{display: none;}
  .header11{display: none;}
  .header101{height: 100%;align-items: center;margin-top: 0;justify-content: space-between;}
  .header12_m img{height: 40px;}
  .header13 a{padding: 0 5px;}
  .header11_m,.header12_m{display: block;}
  .header13 .wishlist{display: none;}
  .header11_m,.header13{width: 30%;padding-top: 0;}
  .header11_m{display: flex;}
  .header11_m i{padding: 0 10px;}
  .header13{flex-direction: row-reverse;}
  .currency_box .baDropdown li{align-items: center;}
}

.m_menu112{height: calc(100% - 150px);overflow-y: auto;}
.search_m{position: fixed;top: 0;height: 100%;left: 0;width: 100%;background: #fff;z-index: 2000;}
.search_m1{padding-top:32px;}
.search_m11{font-weight: 600;height: 36px;margin-bottom: 10px;align-items: center;}
.search_m12{height: 46px;border-bottom: 2px solid #999;}
.search_m112{padding: 0 10px;line-height: 36px;}
.search_m12 input{border:none;height: 100%;width: calc(100% - 50px);}
.search_m12 button{width: 40px;height: 40px;border: none;margin-left: 5px;background: transparent}
.search_m12 button i{font-size: 20px;}
.search_m13{margin-top: 10px;line-height: 28px}
.search_m13 .label{color:#777;}
.m_search_btn{color:#000;font-weight:600;font-size:12px;display:block;position:fixed;bottom:calc(50% + 90px);right:0;background:#fafafa;padding:11px;z-index:100;border-bottom-left-radius:8px;border-top-left-radius:8px}

.m_menu1{position: fixed;top: 0;height: 100%;left: 0;width: 100%;z-index: 2001;}
.m_menu11{width: 100%; background: #FFF;padding: 20px;position: relative;}
.menu_r{width: 50px; background: rgba(0,0,0,0.5);justify-content: center; align-items: center;color: #fff;display: none;}
.m_menu11 li{line-height: 54px;}
.m_menu11 li .menu_lv1_a{font-weight: 500;font-size: 18px; color: #000;padding: 0;}
.m_menu111{margin-bottom: 20px; line-height: 34px;}
.m_menu1112{width: 60px;text-align: right;}
.m_menu1112 i{font-size: 20px;}
.menu_lv1_a,.menu_lv2_a,.menu_lv3_a{display: block;width:calc(100% - 60px);}
.menu_lv2_a{font-size: 16px;color:#787A7C;}
.menu_lv3{padding-left: 10px;border-left: 1px solid #f1f1f1;}
.m_menu11 ul i{width: 60px;text-align: right;}
.menu_lv2{padding-left: 10px;}
.m_menu113{margin-top: 20px;}
@media (max-width: 1199.98px) {

}
/*header*/


/*footer*/
.subscribe{ display: flex;}
.subscribe button,.subscribe input{border-radius: 4px;border: none;}
.subscribe input{padding: 0 10px;margin-right: 4px;width: 360px;}
.subscribe button{color: #fff;background: #e59c5d;}
footer{}
.footer1{background: #f1f1f1;padding: 40px 0 0;}
.footer11{display: flex;flex-wrap: wrap;}
.footer21{display: flex;justify-content:space-between;line-height: 40px;}
.footer11 ul{padding: 0 30px 30px 0;flex: 1;}
.footer11 ul li{line-height: 34px;}
.footer11 ul li:first-child{font-size: 22px;margin-bottom: 10px;font-weight: 600}
.footer11 ul li:not(:first-child){font-size: 16px;}
.footer11 ul:last-child{flex: 2;}
.footer2{background: #f6f6f6;}
.currency_box{position: relative;left: 0;bottom: 0;z-index: 1000;font-size: 14px;}
.footer21a{display: flex;}
.currency_box .currency_curr{background-color: transparent;box-shadow: none;}
@media (max-width: 1199.98px) {
  .footer11 ul{flex-basis: 100%;}
  .footer21{flex-wrap: wrap;}
  .footer21a{width: 100%;justify-content: center;}
  .footer21b{width: 100%;text-align: center;}
  .currency_box .baDropdown{left: -60px;}
  .footer1{padding: 10px 0;}
  .footer11 ul li:first-child{font-size: 20px;}
  .footer11 ul li:not(:first-child){ font-size: 14px;}
  .footer11 ul{padding: 0 0 10px 0;}
  .subscribe input{width: calc(100% - 90px);}
}
/*footer*/

.all_breadcrumb{margin-bottom: 20px;font-weight: 600;align-items: center;}
.all_breadcrumb i{padding: 0 10px;font-size: 12px;}
.all_breadcrumb .icon-xiangb{transform: rotate(270deg)}

.front_breadcrumb{line-height: 44px;margin-bottom: 10px;font-weight: 600;font-size: 12px;}
.front_breadcrumb .app-qianjin_r{padding: 0 10px;font-size: 12px;}
.front_breadcrumb .no_href{color: #999;}
.front_breadcrumb li{ max-width: 100px;overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
@media (max-width: 1199.98px) {
    .front_breadcrumb{margin-bottom: 0;}
}

.pt20{padding-top: 20px;}
pre{ background: #f1f1f1;padding: 10px;border-radius: 4px;}
