@font-face {
    font-family: Montserrat;
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
    src: url("montserrat_n4.woff2") format("woff2");
}
@font-face {
    font-family: Montserrat;
    font-weight: 700;
    font-style: normal;
    font-display: fallback;
    src: url("montserrat_n7.woff2") format("woff2");
}
@font-face {
    font-family: Montserrat;
    font-weight: 600;
    font-style: normal;
    font-display: fallback;
    src: url("montserrat_n6.woff2") format("woff2");
}
@font-face {
    font-family: Montserrat;
    font-weight: 500;
    font-style: normal;
    font-display: fallback;
    src: url("montserrat_n5.woff2") format("woff2");
}
@font-face {
    font-family: Montserrat;
    font-weight: 400;
    font-style: italic;
    font-display: fallback;
    src: url("montserrat_i4.woff2") format("woff2");
}